@page "/Order"
@using FAKA.Server.Auth
@using Microsoft.AspNetCore.Components.Authorization

<h3>Order</h3>
<PageTitle>订单列表</PageTitle>

<CascadingAuthenticationState>
    <AuthorizeView Roles="@Roles.User">
        <Authorized>
            <h1>Hello, @context.User.Identity.Name!</h1>
            <p>You can only see this content if you're authorized.</p>
        </Authorized>
        <NotAuthorized>
            <h1>Authentication Failure!</h1>
            <p>You're not signed in.</p>
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>

@code {
    
}